@charset "UTF-8";
/* リセットcss */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* ------------------------------------------
                トップページscss
-------------------------------------------- */
/* ------ タイトル文字・画像 ----- */
.top_title_images {
  height: 300px;
  text-align: center;
  position: relative;
}
.top_title_images h1 {
  color: aquamarine;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 25px;
}
.top_title_images p {
  font-size: 12px;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* -----(共有)トップタイトル・画像下の項目別見出し ----- */
.top_heading_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* ------ 新着絵本 ----- */
.top_new_arrivals_books {
  width: 90%;
  margin: 0 auto;
}
.top_new_arrivals_books .top_new_arrivals_book {
  width: 100%;
  overflow: hidden;
}
.top_new_arrivals_books .top_new_arrivals_book .top_new_arrivals_book_details {
  display: flex;
  width: 500px;
}
.top_new_arrivals_books .top_new_arrivals_book .top_new_arrivals_book_details .top_new_arrivals_book_detail {
  display: flex;
  flex-direction: column;
  width: 18%;
  padding: 5px;
  border: solid 2px gray;
  margin-right: 10px;
}
.top_new_arrivals_books .top_new_arrivals_book .top_new_arrivals_book_details .top_new_arrivals_book_detail img {
  width: 100%;
}
.top_new_arrivals_books .top_new_arrivals_book .top_new_arrivals_book_details .top_new_arrivals_book_detail ul {
  margin-top: 15px;
}
.top_new_arrivals_books .top_new_arrivals_book .top_new_arrivals_book_details .top_new_arrivals_book_detail ul li {
  list-style: none;
  font-size: 12px;
  margin: 5px 0;
}

/* ------ 特集 ----- */
.top_special_features {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}
.top_special_features .top_special_feature .top_special_feature_image {
  background-color: pink;
  height: 60px;
  margin-bottom: 15px;
}
.top_special_features .top_special_feature .top_special_feature_image img {
  width: 30%;
}
.top_special_features .top_special_feature .top_special_feature_image ul li {
  list-style: none;
}

/* ------ 年齢別 ----- */
.top_ages {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}
.top_ages .top_age ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.top_ages .top_age ul li {
  list-style: none;
  padding: 10px 20px;
  width: 19%;
  border: solid 2px gray;
  margin-bottom: 5px;
}

/* ------ 絵本販売 ----- */
.top_sales {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}
.top_sales ul li {
  list-style: none;
}

/* ------------------------------------------
                    共通scss
-------------------------------------------- */
header .header_all .header_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_all .header_buttons h1 {
  margin-left: 10px;
}
header .header_all .header_buttons ul {
  display: flex;
  align-items: center;
}
header .header_all .header_buttons ul li {
  list-style: none;
  height: 30px;
  display: flex;
  align-items: center;
  margin: 0 10px;
  font-size: 12px;
}
header .header_all .header_ul ul {
  display: flex;
  justify-content: space-around;
  background-color: pink;
}
header .header_all .header_ul ul li {
  list-style: none;
  height: 40px;
  display: flex;
  align-items: center;
}

footer ul {
  display: flex;
  flex-direction: column;
}
footer ul li {
  list-style: none;
  margin: 10px 5px;
}
