
/* ------------------------------------------
                トップページscss
-------------------------------------------- */

/* ------ タイトル文字・画像 ----- */

.top_title_images {
    height: 300px;
    text-align: center;
    position: relative;

    h1{
        color: aquamarine;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        font-size: 25px;
    }
    p {
        font-size: 12px;
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

/* -----(共有)トップタイトル・画像下の項目別見出し ----- */

// 見出し
.top_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* ------ 新着絵本 ----- */

.top_new_arrivals {
    width: 90%;
    margin: 0 auto;

    // 絵本紹介
    .top_new_images {
        display: flex;

        .top_new_image {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding: 5px;
            border: solid 2px gray;
            margin: 0 5px;

            img {
                width: 100%;
            }

            ul {
                margin-top: 15px;
                li {
                    list-style: none;
                    font-size: 12px;
                    margin: 5px 0;
                }
            }
        }
    }

}

/* ------ 年齢別 ----- */

.top_ages {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;

    // 各年齢
    .top_age {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            li {
                list-style: none;
                padding: 10px 20px;
                margin: 5px;
                width: 15%;
                border: solid 2px gray;
            }
        }
    }
}
