


/* ------------------------------------------
                トップページscss
-------------------------------------------- */

.top_title_images {
    h1{
        font-size: bold;
        color: aquamarine;
    }
    p {
        font-size: 14px;
    }
}
